.container {
  padding: 1rem;

  mat-form-field {
    width: 100%;
  }

  .box {
    // flex: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    padding: 1rem;
  }
}

@media (max-width: 1024px) {
  .first-row {
    flex-direction: column;
  }

  .second-row{
    flex-direction: column;
  }
}
