.container{ 
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .team-functions{
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        gap: 1rem;
    }

    .teams{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, 200px);
        grid-template-rows: auto;
        justify-content: space-evenly;

        .team{
            max-width: 100%; 

            mat-card-content{
                img{
                    width: 100%;
                }
            }
        }
        
        .custom-button{
            background-color: transparent;
            border: none;
        }
    }
}