@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.square-sidenav-container {
  @include mat.sidenav-overrides(
    (
      container-shape: square,
    )
  );
}

.full-grey-divider {
  @include mat.divider-overrides(
    (
      color: grey,
      width: 100%,
    )
  );
}

.custom-mat-list-items {
  @include mat.list-overrides(
    (
      list-item-label-text-size: 16px,
      list-item-supporting-text-size: 12px,
    )
  );
}

.custom-tabs {
  @include mat.tabs-overrides(
    (
      active-indicator-color: #6c9fd0,
      divider-color: #6c9fd0,
    )
  );
}

.white-container-menu {
  @include mat.menu-overrides(
    (
      container-color: white,
    )
  );

  margin-top: 1rem;
}

.tabs-full-height {
  height: calc(100% - 96px);

  .mat-mdc-tab-body-wrapper {
    height: 100%;
  }
}
