@use "@angular/material" as mat;
/* You can add global styles to this file, and also import other style files */
// @use "./custom-fonts.scss";
@use "./mixins.scss";
@use "./buttons.scss";
@use "./utilities.scss";
@use "./variables.scss" as var;
@use "./overrides-material.scss";
@use "./custom-style.scss";

@use "ngx-toastr/toastr";
@use "../../node_modules/angular-calendar/scss/angular-calendar.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
  background-color: var.$gray-100;

  @include mat.theme(
    (
      typography: (
        plain-family: "Noto Sans",
        brand-family: "Noto Sans",
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: 0,
    )
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.no-subscript {
  .mat-mdc-form-field-subscript-wrapper {
    height: 0 !important;
    min-height: 0 !important;
    visibility: hidden;
  }
}
