<div *ngIf="statistics as stats" class="container p-1 gap-1">
  <div>
    <app-statistic-card
      [title]="'To Do'"
      [label]="'Tasks'"
      [color]="'#5d82ee'"
      [count]="stats.todo"
    ></app-statistic-card>
  </div>
  <div>
    <app-statistic-card
      [title]="'Overdue'"
      [label]="'Tasks'"
      [color]="'#d3524c'"
      [count]="stats.overdue"
    ></app-statistic-card>
  </div>
  <div>
    <app-statistic-card
      [title]="'Done'"
      [label]="'Tasks'"
      [color]="'#6bc16b'"
      [count]="stats.done"
    ></app-statistic-card>
  </div>
  <div>
    <app-statistic-card
      [title]="'Commits'"
      [label]="'Total Commits'"
      [color]="'#e1a13c'"
      [count]="stats.commits"
    ></app-statistic-card>
  </div>
  <div style="grid-column: 1 / -1">
    <div class="flex-row" style="flex-wrap: wrap">
      <div style="flex: 1">
        <apx-chart
          *ngIf="readyToRenderChart && chartOptions"
          #chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [legend]="chartOptions.legend"
          [fill]="chartOptions.fill"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [xaxis]="chartOptions.xaxis"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>

      <!-- <div style="flex: 1">
        <app-statistic-card
          [title]="'Commits'"
          [label]="'Total Commits'"
          [color]="'#e1a13c'"
          [count]="stats.commits"
        ></app-statistic-card>
      </div> -->
    </div>
  </div>
</div>
