<mat-card class="task-card mat-elevation-z2" appearance="outlined">
  <div class="status-line" [ngClass]="task.status"></div>

  <mat-card-content>
    <div class="task-content">
      <div class="task-info">
        <div class="task-title">
          <sub class="task-label">Task</sub>
          <h3 class="task-name mat-title">{{ task.title }}</h3>
        </div>
        <div class="project-info">
          <img
            class="project-img"
            [src]="getProjectImage(task.projectImage)"
            (error)="onImageError($event)"
            alt="Project Image"
          />
          <span class="project-name mat-caption">{{ task.projectName }}</span>
        </div>
      </div>

      <!-- <app-custom-icon
        [iconName]="'priority_high'"
        [iconColor]="getPriorityColor(task.priority)"
        [iconSize]="32"
      ></app-custom-icon> -->
      <div [ngStyle]="{ color: getPriorityColor(task.priority) }">
        {{ task.priority }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
