.project-container {
  height: 100%;
  overflow: hidden;

  .project-header {
    justify-content: space-between;

    .project-details {
      .project-name {
        align-items: center;
      }
    }

    .status-line {
      position: absolute;
      top: 0;
      right: 0;
      width: 5px;
      height: 100%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &.Pending {
        background-color: #fdd835; // yellow
      }

      &.InWork {
        background-color: #43a047; // green
      }

      &.Done {
        background-color: #fb8c00; // orange
      }

      &.Closed {
        background-color: #e53935; // red
      }
    }

    .date-badge {
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 6px;
      padding: 0px 2px 0px;
      border-radius: 20px;
      background-color: #eeeeee;
      font-weight: bold;
      font-size: 9px;
      color: #000000;
    }

    .date-icon {
      font-size: 10px;
    }

    .current-task{
      padding: 0.5rem;
    }
  }

    mat-tab-group {
      height: calc(100% - 96px);
  }
}
