<div class="container">
  <div class="header">
    <div class="header-logo">
      <img src="/logo.png" alt="TeamSync Logo" />
      <h4>TeamSync</h4>
    </div>

    <button
      matTooltip="Logout"
      [matTooltipPosition]="'above'"
      class="empty-btn"
      (click)="signOut()"
    >
      <app-custom-icon
        [iconName]="'logout'"
        [iconSize]="16"
        [iconColor]="'red'"
      ></app-custom-icon>
    </button>
  </div>

  <div class="main">

    <h6>Main</h6>
    <button class="empty-btn btn-1" routerLink="/projects" routerLinkActive="active">
      <div class="option-btn">
        <app-custom-icon
          [iconName]="'apps'"
          [iconSize]="20"
          [iconColor]="'gray'"
        ></app-custom-icon>
        <h5>Projects</h5>
      </div>
    </button>

    <button class="empty-btn" routerLink="/todo" routerLinkActive="active">
      <div class="option-btn">
        <app-custom-icon
          [iconName]="'task_alt'"
          [iconSize]="20"
          [iconColor]="'grey'"
        ></app-custom-icon>
        <h5>Tasks</h5>
      </div>
    </button>
    <mat-divider class="full-grey-divider"></mat-divider>
  </div>

  <div class="footer"></div>
</div>
