.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    .header-logo {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    h6{
      padding-left: 0.5rem;
    }
  
    .empty-btn {
      cursor: pointer;
      border-radius: 12px;
      padding: 0.6rem 0.5rem;
      transition: all 0.3s ease-in-out;
    
      &:hover,
      &:focus {
        background: #c7ddff;
        transform: translateY(-2px);
        box-shadow: 0px 4px 10px #dce9fb;
      }
  
      &:active {
        background: #d9e7fc;
        transform: scale(0.98);
        box-shadow: none;
      }
    }
  
    .option-btn {
      display: flex;
      align-items: center;
      // padding: 0.75rem;
      gap: 0.75rem;
    }
  }

  .footer {
  }
}
