@use '@angular/material' as mat;

.square-sidenav-container {
    @include mat.sidenav-overrides((
        container-shape: square,
      ));
}

.full-grey-divider{
  @include mat.divider-overrides((
    color: grey,
    width: 100%
  ));
}

.custom-mat-list-items{
  @include mat.list-overrides((
    list-item-label-text-size: 16px,
    list-item-supporting-text-size: 12px
  ));
}

