/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./custom-mat";
@use "./custom-fonts.scss";
@use "./custom-style.scss";

@import "ngx-toastr/toastr";
@import "../node_modules/angular-calendar/scss/angular-calendar.scss";
@import "font-awesome/scss/font-awesome";

html,
body {
  margin: 0;
  *:not(mat-icon) {
    font-family: "Noto-Sans";
  }
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
