/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './custom-mat';

@import 'ngx-toastr/toastr';
@import "../node_modules/angular-calendar/scss/angular-calendar.scss";
@import 'font-awesome/scss/font-awesome';


body {
    margin: 0;
    font-family: "Noto-Sans";
}
.empty-btn{
    border: none;
    background-color: transparent;
}

h6{
    margin: 0;
}

.flexbox-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Noto-Sans';
    src: url('/fonts/NotoSans/notoSansVariable.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }


