<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="this.sidenavMode"
    class="sidenav square-sidenav-container"
    [opened]="isLoggedIn$ | async"
  >
    <app-sidenav-btns (toggleSidenav)="toggleSidenav()"></app-sidenav-btns>
  </mat-sidenav>

  <mat-sidenav-content>
    @if (isLoggedIn$ | async) {
    <app-navbar
      class="fixed-navbar"
      (toggleSidenavEvent)="sidenav.toggle()"
      [isMobile]="isMobile"
    ></app-navbar>
    }
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <ng-container *ngIf="isLoading$ | async">
          <div class="flex-center loading">
            <p>Loading...</p>
          </div>
        </ng-container>
        <router-outlet
          [attr.display]="(isLoading$|async) ? 'none':'block'"
        ></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
